<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <h1>
    Account ALready Exists
  </h1>  

  <form action="/">
<input type="sumbit" value="Log In Instead">
</form>
</body>
</html>